.indicator {
  width: 12px;
  height: 4px;
  transition: 250ms ease;
  background-color: rgba(71, 163, 238, 0.75);
  position: relative;
  bottom: -32px;

  &[data-active] {
    background-color: #47a3ee;
  }
}
